:root {
  --border-color: #053292;
  --primary-color: #0073ff;
  --primary-bg-color: #191d24;
  --secondary-bg-color: #1d2731;
  --icon-gradient: linear-gradient(135deg, #0666dc 0%, #053292 100%);
  --image-shadow: inset 0 0 12px rgba(0, 0, 0, 0.45),
    0 0 14px rgba(0, 114, 255, 0.15);
  --card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 80px;
  gap: 64px;
}

main {
  width: 100%;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  padding: clamp(8px, 5vw, 24px);
  gap: 24px;
  transition: all 0.5s ease;
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  width: fit-content;
}

.card ul {
  width: fit-content;
}

.container-card-text {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
}

@media (width >=1200px) {
  .desktop {
    transform: scale(1.05);
    background-color: #345696;
  }

  .desktop:hover {
    animation: spin 1.5s infinite linear;
  }
}

@media (width >= 650px) and (width <1200px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }

  .tablet {
    transform: scale(1.05);
    background-color: #345696;
  }
  .tablet:hover {
    animation: spin 1.5s infinite linear;
  }
}

@media (width <650px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
  .mobile {
    transform: scale(1.05);
    background-color: #345696;
  }

  .mobile:hover {
    animation: spin 1.5s infinite linear;
  }
}

@keyframes spin {
  to {
    transform: scale(0.2) rotate(360deg);
  }
}
