<nav class="navbar">
  <div class="navbar__logo">
    <a href="https://arneschueler.github.io/weekly-webdev-challenges/"
      >DevChallenges</a
    >
  </div>
  <ul class="navbar__links">
    <li class="navbar__item">
      <a
        href="https://arneschueler.github.io/weekly-webdev-challenges/#hero-section"
        >Home</a
      >
    </li>
    <li class="navbar__item">
      <a
        href="https://arneschueler.github.io/weekly-webdev-challenges/#challenge-section"
        >Challenges</a
      >
    </li>
    <li class="navbar__item">
      <a
        href="https://arneschueler.github.io/weekly-webdev-challenges/src/challenge-archive.html"
        >Archive</a
      >
    </li>
  </ul>
</nav>
