.container__archive {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 80px;
}

.container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__header p {
  max-width: 450px;
  text-align: center;
}

.container__header h1 {
  text-align: center;
}

.container__challenge-archive {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.challenge-card {
  justify-content: space-between;
}
