.section__hero {
  background: linear-gradient(
      109deg,
      rgba(0, 0, 0, 0) -0.67%,
      rgba(0, 0, 0, 0.45) 49.04%
    ),
    url("../assets/images/code-hero.avif") lightgray 10% / cover no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.content__hero {
  display: flex;
  flex-direction: column;
  margin: 15%;
  gap: 24px;
}

.content__hero-text {
  color: var(--text-color-inverted);
  gap: 24px;
}

.content__hero-titel {
  font-size: 15rem;
  margin-bottom: 1rem;
}

.content__hero-button {
  background-color: var(--bg-white);
  color: var(--text-color);
  border: none;
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 14px;
}

.content__hero-subtitel {
  font-size: 32px;
  font-weight: 600;
}
