:root {
  --bg-color: #1e1e1e;
  --text-color: #1e1e1e;
  --text-color-inverted: #d8d7d7;
  --bg-section-color: #232222;
  --primary-color: #1e1e1e;
  --bg-white: white;
  --color-accent: 55, 108, 192, 0.4;

  /* Box shadow */
  --shadow: 0px 4px 24px rgb(var(--color-accent));

  /* size */
  --nav-h: 91px;
}
